body{
    font-family: space mono;
    font-family: 'Roboto', sans-serif;
    background-color: antiquewhite;
}
.container{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}

.content h1{
    color: #333;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -2.24px;
    padding-bottom: 35px;
}

.container img{
    width: 50%;
}

.content{
    padding: 20px;
    text-align: left;
}
.content p{
    color: #4F4F4F;
    font-size: 24px;
    letter-spacing: -0.84px;
    margin-bottom: 60px;
}

.content button{
    padding: 24px 40px;
    text-transform: uppercase;
    border: none;
    background-color: #333;
    color: #fff;
    font-weight: 400;

}

/* responsive css */
@media screen and (max-width: 576px) {
    .container{
        flex-direction: column;
        width: 100%;
    }
    .container img{
        width: 100%;
    }
}


@media screen and (min-width: 576px) and (max-width: 768px) {
    .container{
        flex-direction: column;
        width: 100%;
    }
    .container img{
        width: 100%;
    }
}